<div class="feature-list" ng-class="{'card-list': !featureDetails, 'layout-column': featureDetails}">
    <md-content flex layout-padding ng-show="!featureDetails" style="padding-bottom:0">
        <div layout="row" style="justify-content: space-between">
            <md-select ng-model="primaryOrder" placeholder="Sort By" class="md-no-underline feature-sort-menu" md-container-class="feature-sort-menu">
                <md-option ng-click="sortBy('position')" value="position">
                    <md-icon ng-if="primaryOrder === 'position'">{{ reverseOrdering ? 'arrow_downward' : 'arrow_upward' }}</md-icon> Default
                </md-option>
                <md-option ng-click="sortBy('bp_id')" value="bp_id">
                    <md-icon ng-if="primaryOrder === 'bp_id'">{{ reverseOrdering ? 'arrow_downward' : 'arrow_upward' }}</md-icon> Recent
                </md-option>
                <md-option ng-click="sortBy('name')" value="name">
                    <md-icon ng-if="primaryOrder === 'name'">{{ reverseOrdering ? 'arrow_downward' : 'arrow_upward' }}</md-icon>Name
                </md-option>
            </md-select>
            <div hs.feature-filter.directive ng-controller="HsFeatureFilterController"></div>
        </div>
    </md-content>

    <md-content flex layout-padding class="card-collection" ng-show="!featureDetails">
        <md-card ng-repeat="feature in LayMan.currentLayer.filteredFeatures | orderBy:orderProperties"
            ng-click="selectFeature(feature)"
            ng-mouseenter="highlightFeature(feature)"
            ng-mouseleave="unhighlightFeature(feature)"
            ng-class="feature.getProperties().class">
            <img ng-src="{{ endpoint + feature.getProperties().img }}" class="md-card-image" alt="Best Practice thumbnail">
            <md-card-title style="flex: 1 1 auto; padding: 16px 0 0 0;">
                <md-card-title-text>
                    <span class="md-headline" style="padding-left: 10px; padding-right: 10px;">{{ feature.getProperties().name }}</span>
                    <div flex></div>
                    <span class="md-subhead" style="display: flex; padding-left: 10px; line-height: initial;"><span ng-if="feature.getProperties().region">{{ feature.getProperties().region }}, </span>{{ feature.getProperties().country }}
                        <div flex></div>
                        <span ng-repeat="tag in feature.getProperties().tags" ng-switch="tag">
                            <md-icon
                                ng-switch-when="soft motoric disabilities"
                                md-font-set="fa"
                                md-font-icon="fa-allergies"
                                aria-label="Soft motoric disabilities">
                                <md-tooltip>Soft motoric disabilities</md-tooltip>
                            </md-icon>
                            <md-icon
                                ng-switch-when="hard motoric disabilities"
                                md-font-set="fa"
                                md-font-icon="fa-wheelchair"
                                aria-label="Hard motoric disabilities">
                                <md-tooltip>Hard motoric disabilities</md-tooltip>
                            </md-icon>
                            <md-icon
                                ng-switch-when="visually impaired"
                                md-font-set="fa"
                                md-font-icon="fa-blind"
                                aria-label="Visually impaired">
                                <md-tooltip>Visually impaired</md-tooltip>
                            </md-icon>
                            <md-icon
                                ng-switch-when="hearing impaired"
                                md-font-set="fa"
                                md-font-icon="fa-deaf"
                                aria-label="Hearing impaired">
                                <md-tooltip>Hearing impaired</md-tooltip>
                            </md-icon>
                            <md-icon
                                ng-switch-when="mentally disabled"
                                md-font-set="fa"
                                md-font-icon="fa-brain"
                                aria-label="Mentally disabled">
                                <md-tooltip>Mentally disabled</md-tooltip>
                            </md-icon>
                        </span>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p ng-bind-html="feature.getProperties().annotation"></p>
            </md-card-content>
        </md-card>
    </md-content>

    <hs.query.directive-infopanel-md class="infopanel" ng-if="featureDetails"></hs.query.directive-infopanel-md>
</div>
